@font-face {
    font-family: "Gotham";
    src: url("../../fonts/GothamPro-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/GothamPro-Light.woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../../fonts/GothamPro-LightItalic.woff");
    font-weight: 300;
    font-style: italic;
}