.inner-page-header {
    margin-bottom: 50px;
}

.breadcrumbs-list {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    list-style: none;
}

.breadcrumbs-list__item {
    display: inline-block;

}

.breadcrumbs-list__item:after {
    content: "/";
}

.breadcrumbs-list__item:last-child:after{
    display: none;    
}

.breadcrumbs-list__link {
    font-size: 14px;
    font-style: italic;
    color: #ec1e79;
}

.breadcrumbs-list__link-deactive {
    color: #221f1f;
}

.page-title {
    padding: 0;
    margin: 0;
    font-size: 49px;
    line-height: 38px;
}
